body{
  margin: 0px;
  padding: 0px;
}
h1{
  text-align: center;
  color: #00ffff; 
}
div.main{
  margin-left: 20px;
  margin-top: 40px;
  width:80%;
  height: 50%;
  padding: 20px;
  background-color: pink;
}
div input{
  border-radius: 10px;
  width: 60%;
  font-weight: bold;
  font-size: 20px;
  border-color: yellow;
}
#result{
  background-color: #f7e24d;
  width: 80px;
  border-color: red;
  border-radius: 20px;
  height: 40px;
  font-size: 20px;
  color: #0042ff; 
  margin-left: 30%;
}
div button{
  height: 40px;
  width: 40px;
  border-color: blue;
  border-radius: 10px;
  background-color: #b5fdb3;
  font-size: 25px; 
  font-weight: bold;
  cursor: pointer;
  margin-left: 25px;
}
div button:hover{
  color: red;
}
